.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: .8rem;
    background-color: #5172FF;
    
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    flex-direction: row;
    width: 100%;

   
   
}

.footerBottom {
    width: 100%;
    text-align: center;
    background-color: #485fc7;
    opacity: 0.7;
    font-size: 1rem;
}

.footerSocials{
    display: flex;
    gap: 2rem;

}

.footerIcon:hover{
    color: lightgray !important;
    transition: 0.2s;
}

.logoContainer{
    height: 80px;
}

.footerBtn{
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}