*{
  font-family: 'Gantari', sans-serif;
 
}

body{
  margin: 0;

}

main{
  margin-top: 100px;
  min-height: 70vh;
}
 

.awssld {
  width: 80%;
  margin: 0 auto;

  --slider-height-percentage: 35%;
  --slider-transition-duration: 200ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #519c97;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #5fb7b2;
  --control-bullet-active-color: #519c97;
  --loader-bar-color: #851515;
  --loader-bar-height: 1px;
}