.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #5172FF;
    
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
    flex-direction: row;
    width: 100%;
}

.footerBottom {
    width: 100%;
    text-align: center;
    background-color: #485fc7;
    opacity: 0.7;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.footerSocials{
    display: flex;
    gap: 2rem;
    justify-content: center;

}

.footerIcon:hover{
    color: lightgray !important;
    transition: 0.2s;
}

.logoContainer{
    height: 80px;
}

.footerBtn{
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
}

.footerBtn:hover{
    color: lightgray !important;
    transition: 0.2s;
}