*{
  font-family: 'Poppins', sans-serif;
 
}

body{
  margin: 0;

}

main{
  margin-top: 95px;
  min-height: 70vh;
}

li {
  list-style-type: none;
}

.carousel-control-prev-icon {
  background-color: black;
  border-radius: 50%;
 }
 
 .carousel-control-next-icon {
   background-color: black;
   border-radius: 50%;
  }